@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "QUICKSAND";
  src: url("./fonts/Quicksand-VariableFont_wght.ttf");
}
body{
  background-color: rgb(121, 121, 121);
  display: flex;
  align-items: center;
  justify-content: center;
}

@layer components{
  .container{
    @apply flex flex-col items-center text-slate-50 bg-slate-900 w-[100vw] h-[100vh] md:w-[35rem] md:rounded-2xl md:my-10 md:h-auto md:pb-10
  }
  .containerWeather{
    @apply flex flex-col items-center justify-center w-[100vw]
  }
  .loadingContainer{
    @apply flex items-center justify-center bg-transparent
  }
  .formContainer{
    @apply flex flex-col items-center
  }
  .titleForm{
    @apply text-4xl m-10 md:text-5xl
  }
  .inputForm{
    @apply border-gray-900 rounded py-1 px-2 text-slate-900
  }
  .inputContainer{
    @apply flex flex-row gap-5 pb-10 items-center
  }
  .infoBox{
    @apply flex flex-row items-center justify-between px-5
  }
  .infoWeatherBox{
    @apply flex flex-col items-center
  }
  .img{
    @apply w-[5rem] pt-5
  }
  .infoCity{
    @apply flex flex-col gap-4
  }
  .mapBox{
    @apply flex items-center justify-center
  }
  .map{
    @apply p-3 w-[350px] h-[350px] md:w-[450px] md:h-[450px]
  }

}

/* .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.loadingContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: white;
  border-radius: 5px;
} */
